name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  merge_group:
    types: [checks_requested]

jobs:
  go:
    runs-on:
      - nscloud-ubuntu-22.04-amd64-4x16-with-cache
      - nscloud-cache-size-20gb
      - nscloud-cache-tag-spacectl
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Nix cache
        uses: namespacelabs/nscloud-cache-action@a4cc4697b9de3b562bec5a856e6f3c31f94506e2 # v1.3.0
        with:
          cache: nix

      - name: Install Nix
        uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            system-features = kvm nixos-test

      - name: Switch into Nix Shell
        uses: rcrowe/switch-into-nix-shell@b109dab0869e1f5665d6eacc246cc5282da53811 # v1

      - name: Set up cache
        uses: namespacelabs/nscloud-cache-action@a4cc4697b9de3b562bec5a856e6f3c31f94506e2 # v1.3.0
        with:
          cache: |
            go
            golangci-lint

      - name: Check modules
        run: go mod tidy --diff

      - name: Check generated
        run: |
          go generate -x ./...
          git add . && git diff --staged --exit-code

      - name: Check tests
        run: go test -race ./...

      - name: Check linter
        run: |
          golangci-lint run ./...

  space-e2e-release:
    runs-on:
      - nscloud-ubuntu-22.04-amd64-4x16-with-cache
      - nscloud-cache-size-20gb
      - nscloud-cache-tag-spacectl
    strategy:
      matrix:
        space-version: ['', latest]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Nix cache
        uses: namespacelabs/nscloud-cache-action@a4cc4697b9de3b562bec5a856e6f3c31f94506e2 # v1.3.0
        with:
          space-version: '${{ matrix.space-version }}'
          cache: nix

      - name: Install Nix
        uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            system-features = kvm nixos-test

      - name: Switch into Nix Shell
        uses: rcrowe/switch-into-nix-shell@b109dab0869e1f5665d6eacc246cc5282da53811 # v1

      - name: Set up Go cache
        uses: namespacelabs/nscloud-cache-action@a4cc4697b9de3b562bec5a856e6f3c31f94506e2 # v1.3.0
        with:
          space-version: '${{ matrix.space-version }}'
          cache: go

      - name: Force cache
        run: go mod download

  space-e2e-head:
    runs-on:
      - nscloud-ubuntu-22.04-amd64-4x16-with-cache
      - nscloud-cache-size-20gb
      - nscloud-cache-tag-spacectl
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Nix cache
        uses: namespacelabs/nscloud-cache-action@a4cc4697b9de3b562bec5a856e6f3c31f94506e2 # v1.3.0
        with:
          cache: nix

      - name: Install Nix
        uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd # v31.9.1
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            system-features = kvm nixos-test

      - name: Switch into Nix Shell
        uses: rcrowe/switch-into-nix-shell@b109dab0869e1f5665d6eacc246cc5282da53811 # v1

      - name: Install spacectl from HEAD
        run: go build -o dist/spacectl .

      - name: Set up Go cache
        uses: namespacelabs/nscloud-cache-action@a4cc4697b9de3b562bec5a856e6f3c31f94506e2 # v1.3.0
        with:
          cache: go
        env:
          NSC_POWERTOYS_DIR: ./dist/ # force binary location

      - name: Force cache
        run: go mod download
