name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on:
      - nscloud-ubuntu-22.04-amd64-4x16-with-cache
      - nscloud-cache-size-20gb
      - nscloud-cache-tag-space
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Nix cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: /nix

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            system-features = kvm nixos-test

      - name: Switch into Nix Shell
        uses: lukas-mertens/switch-into-nix-shell@ce1f85f07ceba523ece60c73eb2b18d1fa5503f5
        with:
          install_nix: false

      - name: Set up cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
